<section class="banner">
	<div class="container">
		<div class="banner__block">
			<div class="banner__block_left">
				<h2 class="banner__block_left_title">
					Стройте свой <br>
					майнинг-бизнес с надёжным партнёром
				</h2>
				<p class="banner__block_left_text">
					Узнайте о принципах Юмайнерс и организации процесса работы
				</p>
				<a href="#" class="banner__block_left_btn">
					Подробнее о компании
				</a>
			</div>
			<div class="banner__block_right">
				<img src="img/banner__img.png" alt="banner__img">
			</div>
		</div>
	</div>
</section>