<section class="news">
	<div class="container">
		<div class="news__top">
			<h2 class="news__title">
				СМИ о нас
			</h2>
			<a href="#" class="news__link">
				Читать все новости
			</a>
		</div>
		<div class="news__list">
			<div class="news__item">
				<div class="news__item_image">
					<img src="img/news__item_img.png" alt="news__item">
				</div>
				<div class="news__item_info">
					<h3 class="news__item_info_title">
						Интервью с CEO «Юмайнерс»
					</h3>
					<p class="news__item_info_text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
						industry's standard dummy text ever since the 1500s  when an
					</p>
					<p class="news__item_info_time">
						Время чтения 3 минуты
					</p>
				</div>
			</div>
			<div class="news__item">
				<div class="news__item_image">
					<img src="img/news__item_img.png" alt="news__item">
				</div>
				<div class="news__item_info">
					<h3 class="news__item_info_title">
						Интервью с CEO «Юмайнерс»
					</h3>
					<p class="news__item_info_text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
						industry's standard dummy text ever since the 1500s  when an
					</p>
					<p class="news__item_info_time">
						Время чтения 3 минуты
					</p>
				</div>
			</div>
			<div class="news__item">
				<div class="news__item_image">
					<img src="img/news__item_img.png" alt="news__item">
				</div>
				<div class="news__item_info">
					<h3 class="news__item_info_title">
						Интервью с CEO «Юмайнерс»
					</h3>
					<p class="news__item_info_text">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
						industry's standard dummy text ever since the 1500s  when an
					</p>
					<p class="news__item_info_time">
						Время чтения 3 минуты
					</p>
				</div>
			</div>
		</div>
	</div>
</section>