<section class="offer">
	<div class="offer__unit">
		<div class="container">
			<div class="offer__block">
				<h1 class="offer__title">
					Зарабатывайте на майнинге
				</h1>
				<p class="offer__text">
					С единой экосистемой полного цикла
				</p>
				<img src="img/threed.png" alt="offer__img">
			</div>
		</div>
	</div>
	<div class="offer__specification_block">
		<div class="container">
			<div class="offer__specification">
				<div class="offer__specification_item">
					<p>
						от 15% доходности
					</p>
					<span>
						Инвестиции без рисков с целевой доходностью от 15% в год
					</span>
				</div>
				<div class="offer__specification_item">
					<p>
						> 14 лет опыта
					</p>
					<span>
						В международных операциях и более 7 лет в майнинге
					</span>
				</div>
				<div class="offer__specification_item">
					<p>
						5000+ устройств
					</p>
					<span>
						Продается ежемесячно Uminers
					</span>
				</div>
				<div class="offer__specification_item">
					<p>
						>3500 партнеров
					</p>
					<span>
						Являемся прямым партнером крупнейших производителей
					</span>
				</div>
			</div>
		</div>
	</div>
</section>