<section class="process">
	<div class="container">
		<h2 class="process__title">
			Красноярский дата-центр Юмайнерс ежедневно обеспечивает <span>процесс добычи 45+ майнинг инвесторам</span>
		</h2>
		<div class="process__list">
			<div class="process__item">
				<div class="process__item_mark">
					пункт договора
				</div>
				<div class="process__item_heading">
					Обязательная страховка
				</div>
				<h3 class="process__item_title">
					При составлении договора, оговаривается ответственность сторон и меры по сохранности оборудования
				</h3>
				<p class="process__item_text">
					Страховка от рисков - обязательный пункт договора
				</p>
				<a href="#" class="process__item_btn">
					Условия страхования
				</a>
			</div>
			<div class="process__item">
				<h3 class="process__item_title">
					Гарантируем бесперебойное
					интернет-соединение и непрерывное электропитание
				</h3>
				<p class="process__item_text">
					Используем двойное резервирование каналов связи и электропитания
				</p>
				<img src="img/process__item_02.png" alt="process__item_02" class="process__item_img">
			</div>
			<div class="process__item process__item_fullbg">
				<h3 class="process__item_title">
					Работаем открыто
				</h3>
				<p class="process__item_text">
					Организуем для клиентов экскурсии в ЦОД, подробно знакомим со всеми процессами
				</p>
				<a href="#" class="process__item_btn">
					Прозрачность процессов
				</a>
				<img src="img/process__item_03.png" alt="process__item_02" class="process__item_img">
			</div>
			<div class="process__item process__item_fullbg">
				<h3 class="process__item_title">
					Специалисты следят за работой оборудования 24/7
				</h3>
				<p class="process__item_text">
					Подразделения сервисного центра располагаются непосредственно в дата-центре для обслуживания и ремонта
					майнеров на месте
				</p>
				<a href="#" class="process__item_btn">
					Техподдержка
				</a>
				<img src="img/process__item_04.png" alt="process__item_02" class="process__item_img">
			</div>
			<div class="process__item">
				<h3 class="process__item_title">
					Профессиональный сервис, обеспечивающий минимальные сроки простоя
				</h3>
				<p class="process__item_text">
					Весь процесс организации, доставки и установки в дата-центре мы берём на себя
				</p>
				<img src="img/process__item_05.png" alt="process__item_02" class="process__item_img">
			</div>
			<div class="process__item process__item_reverse">
				<h3 class="process__item_title">
					Передовые системы охлаждения
				</h3>
				<p class="process__item_text">
					Дополнительные системы охлаждения дата-центра обеспечивают рекомендованные производителем условия
					максимально эффективной работы
				</p>
				<a href="#" class="process__item_btn">
					Оборудованные помещения
				</a>
				<img src="img/process__item_06.png" alt="process__item_02" class="process__item_img">
			</div>
		</div>
	</div>
</section>