<section class="produce">
	<div class="container">
		<div class="produce__block">
			<div class="produce__left">
				<h2 class="produce__title">
					Asic майнеры в наличии и под заказ
				</h2>
				<p class="produce__text">
					Наши эксперты подберут оптимальный вариант по цене с максимальной производительностью
				</p>
				<div class="produce__action">
					<button>
						Проконсультироваться
					</button>
					<button>
						Перейти в каталог
					</button>
				</div>
			</div>
			<div class="produce__right">
				<div class="produce__slider swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="produce__item">
								<div class="produce__item_tag">
									Скидка 5%
								</div>
								<div class="produce__item_image">
									<img src="img/produce__item_img.png" alt="produce__item_img">
								</div>
								<div class="produce__item_info">
									<h3 class="produce__item_name">
										Asic майнер Bitmain Antminer L7
									</h3>
									<!-- <div class="produce__item_specific">
										<div class="produce__item_specific_item">
											<p>
												9500 MH/s
											</p>
											<span>
												Хешрейт
											</span>
										</div>
										<div class="produce__item_specific_item">
											<p>
												3420 ± 10%
											</p>
											<span>
												Потребление Вт/ч
											</span>
										</div>
									</div> -->
									<div class="produce__item_price">
										<div class="produce__item_price_item">
											<p class="produce__item_price_main">
												137 000 <span>₽</span>
											</p>
											<p class="produce__item_price_old">
												120 000 ₽
											</p>
										</div>
										<div class="produce__item_price_nds">
											С НДС
										</div>
									</div>
									<button class="produce__item_btn">
										В корзину
									</button>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="produce__item">
								<div class="produce__item_tag">
									Скидка 5%
								</div>
								<div class="produce__item_image">
									<img src="img/produce__item_img.png" alt="produce__item_img">
								</div>
								<div class="produce__item_info">
									<h3 class="produce__item_name">
										Asic майнер Bitmain Antminer L7
									</h3>
									<!-- <div class="produce__item_specific">
										<div class="produce__item_specific_item">
											<p>
												9500 MH/s
											</p>
											<span>
												Хешрейт
											</span>
										</div>
										<div class="produce__item_specific_item">
											<p>
												3420 ± 10%
											</p>
											<span>
												Потребление Вт/ч
											</span>
										</div>
									</div> -->
									<div class="produce__item_price">
										<div class="produce__item_price_item">
											<p class="produce__item_price_main">
												137 000 <span>₽</span>
											</p>
											<p class="produce__item_price_old">
												120 000 ₽
											</p>
										</div>
										<div class="produce__item_price_nds">
											С НДС
										</div>
									</div>
									<button class="produce__item_btn">
										В корзину
									</button>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="produce__item">
								<div class="produce__item_tag">
									Скидка 5%
								</div>
								<div class="produce__item_image">
									<img src="img/produce__item_img.png" alt="produce__item_img">
								</div>
								<div class="produce__item_info">
									<h3 class="produce__item_name">
										Asic майнер Bitmain Antminer L7
									</h3>
									<!-- <div class="produce__item_specific">
										<div class="produce__item_specific_item">
											<p>
												9500 MH/s
											</p>
											<span>
												Хешрейт
											</span>
										</div>
										<div class="produce__item_specific_item">
											<p>
												3420 ± 10%
											</p>
											<span>
												Потребление Вт/ч
											</span>
										</div>
									</div> -->
									<div class="produce__item_price">
										<div class="produce__item_price_item">
											<p class="produce__item_price_main">
												137 000 <span>₽</span>
											</p>
											<p class="produce__item_price_old">
												120 000 ₽
											</p>
										</div>
										<div class="produce__item_price_nds">
											С НДС
										</div>
									</div>
									<button class="produce__item_btn">
										В корзину
									</button>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="produce__item">
								<div class="produce__item_tag">
									Скидка 5%
								</div>
								<div class="produce__item_image">
									<img src="img/produce__item_img.png" alt="produce__item_img">
								</div>
								<div class="produce__item_info">
									<h3 class="produce__item_name">
										Asic майнер Bitmain Antminer L7
									</h3>
									<!-- <div class="produce__item_specific">
										<div class="produce__item_specific_item">
											<p>
												9500 MH/s
											</p>
											<span>
												Хешрейт
											</span>
										</div>
										<div class="produce__item_specific_item">
											<p>
												3420 ± 10%
											</p>
											<span>
												Потребление Вт/ч
											</span>
										</div>
									</div> -->
									<div class="produce__item_price">
										<div class="produce__item_price_item">
											<p class="produce__item_price_main">
												137 000 <span>₽</span>
											</p>
											<p class="produce__item_price_old">
												120 000 ₽
											</p>
										</div>
										<div class="produce__item_price_nds">
											С НДС
										</div>
									</div>
									<button class="produce__item_btn">
										В корзину
									</button>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="produce__item">
								<div class="produce__item_tag">
									Скидка 5%
								</div>
								<div class="produce__item_image">
									<img src="img/produce__item_img.png" alt="produce__item_img">
								</div>
								<div class="produce__item_info">
									<h3 class="produce__item_name">
										Asic майнер Bitmain Antminer L7
									</h3>
									<!-- <div class="produce__item_specific">
										<div class="produce__item_specific_item">
											<p>
												9500 MH/s
											</p>
											<span>
												Хешрейт
											</span>
										</div>
										<div class="produce__item_specific_item">
											<p>
												3420 ± 10%
											</p>
											<span>
												Потребление Вт/ч
											</span>
										</div>
									</div> -->
									<div class="produce__item_price">
										<div class="produce__item_price_item">
											<p class="produce__item_price_main">
												137 000 <span>₽</span>
											</p>
											<p class="produce__item_price_old">
												120 000 ₽
											</p>
										</div>
										<div class="produce__item_price_nds">
											С НДС
										</div>
									</div>
									<button class="produce__item_btn">
										В корзину
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>